/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* COLORS ==================
Dark Pink: #b21e49;
Light Grey: #eeeeee;
Bright Pink: #ff1256;
Dark Grey: #222222;
Blue: #23a4cc;
==========================*/

body, html{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    color:#222222;
    background-color:#eee;
}

a{
    font-weight:bold;
    color:#23a4cc;
    text-decoration:none;
}

p{
    font-size:1rem;
    line-height:1.4;
}


h1{
    font-size:1.4em;
    line-height:1.6;
}

h2{
    font-size:1em;
}

h3{
    text-transform:uppercase;
    font-size:1em;
}

input{
    width:96%;
    margin:0 auto;
    display:block;
}

.textbox{
    margin-bottom:5px;
    padding:5px;
    height:1.5em;
}

.btn{
    width:100%;
    height:2.5em;
    background-color: #b21e49;
    border:none;
    font-weight:bold;
    color:#ffffff;
    font-weight:bold;
    text-transform:uppercase;
    line-height:2.5;
    text-align:center;
    box-shadow:2px 2px 0px #DADADA;
    display:block;
}

.btn:hover{
    background-color:#ff1256;
}

input.btn{
    background-color:#ff1256;
}

input.btn:hover{
    background-color:#b21e49;
}

img{
    width:100%;
    height:auto;
}

/* -------- HEADER SECTION --------- */
.main-header{
    width:100%;
    text-align:center;
}

#logo{
    width:100%;
    margin:0 auto;
}

header nav{
    width:100%;
    background:#ddd;
    margin:0 auto;
}

nav i{
    padding-right:10px;
}

nav ul{
    list-style-type:none;
    margin:0 auto;
    padding:0 10px;
}

nav ul li{
    text-decoration:none;
    text-transform:uppercase;
    border-bottom:1px solid #ccc;
    line-height:3;
}

.nav-faq{
    border:none;
}

nav a{
   color:#222222; 
}


/* -------- MAIN CONTENT --------- */
main{
    width:96%;
    padding:0 2%;
    margin:auto;
    max-width:960px;
}

/* HOME PAGE AND REVIEWS PAGE ----- */

/* Featured News Item ----- */

.top-story{
    width:100%;
    border-bottom:1px solid #ccc;
}

.top-img{
    width:100%;
    height:auto;
    margin:0;
}

.top-story h1 a{
    color:#222222;
}

/* Side Bar ----- */
.sidebar{
    width:100%;
}

.sidebar div{
    border-bottom:1px solid #ccc;
}

.newsletter{
    padding-bottom:20px;
    /*border-bottom:1px solid #ccc;*/
}

.sidebar-upcoming,
.sidebar-faq{
    display:none;
}

/* News/Reviews Feed Section ----- */

.feed{
    width:100%;
}

.feed-item h2{
    margin:0;
}

.feed p{
    display:none;
}

.feed-item{
    content:"";
    display:table;
    clear:both;
    border-bottom:1px solid #ccc;
}

.feed-item:nth-child(7){
    border-bottom:none;
}

.feed-image{
    width:45%;
    height:auto;
    float:left;
    margin:0;
    padding-right:3%;
    padding-bottom:20px;
}

.feed-info{
    width:42%;
    float:left;
    display:block;
    padding-bottom:20px;
}

.feed-info h2 a{
    color:#222222;
}

/* DETAILED PAGES ----- */
.reviews-img,
.news-img{
    width:100%;
    height:auto;
    margin:0 auto;
}

ul.article-meta-info{
    list-style:none;
    padding:0;
    width:100%;
    height:2em;
}

ul.article-meta-info li{
    display:inline;
}

.article-author{
    padding-right:10px;
    border-right:1px solid;
    margin-right:10px;
}

.detail .newsletter{
    border-bottom:none;
}

/* ABOUT PAGE ----- */
.contact-info{
    padding:2%;
}

.contact-info ul{
    list-style-type:none;
    padding:0;
}

.contact-info li{
    line-height:2;
}

.contact-info li span{
    font-weight:bold;
}
.map-container{
    clear:both;
    position:relative;
    padding-bottom:75%;
    height:0;
    overflow:hidden;
    margin-top:2%;
}

.map-container iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


.mission{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:15px 0;
    content:"";
    display:table;
    clear:both;
}

.team{
    padding-top:15px;
}

.team-member{
    padding:15px 0;
}

.team-img{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    width:40%;
    padding-bottom:40%;
    float:left;
    margin-right:20px;
    border:1px solid #ccc;
}

.team-name,
.team-title{
    padding-left:10px;
    display:block;
}

.team-description{
    display:inline;
}

#team-img-jack{
    background-image:url('../img/team-jack.png');
}

#team-img-lana{
    background-image:url('../img/team-lana.png');
}

#team-img-willow{
    background-image:url('../img/team-willow.png');
}

#team-img-jack,
#team-img-lana,
#team-img-willow{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }

/*need to add footer space & border*/

/* -------- FOOTER ------------- */
footer{
    width:96%;
    max-width:960px;
    margin:auto;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

#footer-logo{
    width:47.5%;
    margin:auto;
}


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width:768px) {
    /* Tablet Styles Here */
    /* HEADER ----- */
    .main-header{
        width:94%;
        max-width:960px;
        margin:auto;
        background-color:#ddd;
    }

    #logo{
        width:40%;
        float:left;
        margin-left:-8px;
    }

    header nav{
        width:60%;
        float:right;  
    }

    header nav ul li {
        display:inline-block;
        padding-left:10px;
        padding-right:0;
        padding-bottom:0;
        padding-top:3%;
        border-bottom:none;
    }

    header nav i{
        padding:5px;
    }

    /* FEATURED NEWS ITEM ----- */
    .top-story{
        width:100%;
        content:"";
        display:table;
        clear:both;
        border-bottom:1px solid #ccc;
    }

    .top-img{
        width:57%;
        float:left;
        padding-right:3%;
        padding-top:20px;
        padding-bottom:20px;
    }

    .top-info{
        width:40%;
        float:left;
    }

    /* SIDEBAR ----- */
    .sidebar{
        clear:both;
        width:37%;
        float:right;
    }

    .sidebar i{
        padding:5px;
    }

    .sidebar-upcoming,
    .sidebar-faq{
        display:block;
        padding-bottom:20px;
        /*border-bottom:1px solid #ccc;*/
    }



    /* FEED SECTION ----- */
    .feed{
        width:60%;
        float:left;
        border-right: 1px solid #ccc;
    }

    .feed-image{
        width:35%;
        padding-right:15px;
        padding-bottom:15px;
    }

    .feed-info{
        width:57%;
    }

    

    /* DETAILS PAGES */
    .detailed-content{
        padding-top:30px;
    }
    
    .news-img,
    .reviews-img{
        width:50%;
        margin:0;
        float:left;
        margin-right:3%;
        content:"";
        display:table;
        clear:both;
    }

    .detail-title{
        width:47%;
        float:left;
    }

    .detail{
        width:100%;
    }

    .byline{
        width:47%;
        float:left;
    }

    .detail{
        width:100%;
        margin:0 auto;
    }

    .detail .newsletter input{
        display:inline;
    }

    .detail .newsletter .textbox{
        width:60%;
    }

    .detail .newsletter .btn{
        width:30%;
        margin-left:10px;
    }

    /* ABOUT PAGE */
    
    .contact-info{
        width:30%;
        float:left;
    }

    .map-container{
        clear:none;
		padding-bottom: 40%;
		width: 58%;
		border: 1px solid #333;
		margin-bottom: 40px;
        margin-top: 30px;
    }
    /* FOOTER ----- */
    
    footer{
        clear:both;
    }
    
    #footer-logo{
        width:30%;
        margin:auto;
    }
}




@media only screen and (min-width:940px){
    /* Desktop Styles Here */
    
    h1{
        font-size:1.4em;
    }

    h2{
        font-size:1.2em;
    }
    
    /* HEADER ----- */
    #logo{
        width:30%;
        margin-left:0;
    }

    nav{
        width:60%;
    }

    nav a{
        font-size:1.2em;
    }

    /* FEATURED NEWS ITEM ----- */
    .top-story{
        width:65%;
        float:left;
        border-bottom:none;
        padding-top: 10px;
		border-right:1px solid #ccc;
		padding-right:2%;
    }

    .top-img{
        width:100%;
    }

    .top-img img{
        max-width:620px;
    }

    .top-info{
        width:100%;
        float:none;
    }

    /* SIDEBAR ----- */
    .sidebar{
        width:30%;
        clear:none;
        float:right;
    }

    .sidebar .sidebar-faq{
        border-bottom:none;
    }

    .sidebar-upcoming i,
    .sidebar-faq i{
        padding-right:10px;
    }

    /* FEED SECTION ----- */
    .feed{
        width:100%;
        float:none;
        clear:both;
        border-top:1px solid #ccc;
        border-right:none;
    }

    .feed-image{
        width:20%;
    }

    .feed p{
        display:block;
    }

    

    /* DETAILS PAGES */
    .detailed-content{
        width:65%;
        float:left;
        padding-right:2.5%;
        border-right: 1px solid #ccc;
    }

    .news-img,
    .reviews-img{
        width:100%;
        float:none;
    }

    .news-img img,
    .reviews-img img{
        max-width:620px;
    }

    .detail-title{
        width:100%;
        float:none;
    }

    .detail-title h1{
        font-size:1.5em;
    }
    

    .detail{
        width:30%;
        float:left;
        padding-left:2%;
    }

    .detail .newsletter input{
        display:block;
        width:100%;
        box-sizing: border-box;
        
    }

    .detail .newsletter .textbox{
        width:100%;
        height:auto;
        line-height:1.5;
        margin-bottom:5px;
    }

    .detail .newsletter .btn{
        width:100%;
        margin-right:0;
        margin-left:0;
    }

    .byline{
        width:100%;
    }

    /* ABOUT PAGE */
    .team-img{
        width:25%;
        padding-bottom:25%;
    }

    /* FOOTER ----*/
    #footer-logo{
        width:20%;
    }
}







@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
